<div class="container my-5">
  <% if alert %>
    <p class="text-danger my-5"><%= alert %></p>
  <% end %>

  <div style="max-width: 300px;">
    <%= form_tag sessions_path, method: :post do %>
      <div class="mb-3">
        <label for="email" class="form-label"><%= t('.email') %></label>
        <input type="email" name="email" class="form-control">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label"><%= t('.password') %></label>
        <input type="password" name="password" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary"><%= t('.submit') %></button>
    <% end %>
  </div>
</div>
