<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">

        <div class="card shadow rounded-1rem">
          <div class="card-body px-3 py-3 text-center">

            <div class="d-flex justify-content-start my-5">
              <h2 class="h4 text-muted"><%= t('.form_title') %></h2>
            </div>

            <%= form_tag sessions_path, method: :post do %>
              <div class="form-floating mb-5">
                <input type="email" name="email" class="form-control" placeholder="name@example.com" required>
                <label for="email" class="form-label"><%= t('.email') %></label>
              </div>

              <div class="form-floating mb-5">
                <input type="password" name="password" class="form-control" placeholder="Password" required>
                <label for="password" class="form-label"><%= t('.password') %></label>
              </div>

              <div class="d-grid">
                <button type="submit" class="btn btn-primary"><%= t('.submit') %></button>
              </div>
            <% end %>

          </div>
        </div>

        <p class="my-5"><%= t('.note_html', url: forms_path) %></p>
      </div>
    </div>
  </div>
</section>
