<%= form_with(model: survey) do |form| %>
  <% if survey.errors.any? %>
    <div style="color: red">
      <h2 class="h4"><%= t('.error') %></h2>

      <ul>
        <% survey.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <label class="form-label"><%= t('.title') %> <span class="text-danger">*</span></label>
    <%= form.text_field :title, class: 'form-control', value: survey.title || t('.title_placeholder'), required: true %>
  </div>

  <div class="my-5">
    <label class="form-label"><%= t('.description') %> <span class="text-danger">*</span></label>
    <%= form.text_area :description, class: 'form-control', value: survey.description || t('.description_placeholder'), rows: 20, required: true %>
    <div class="form-text"><%= t('.description_note') %></div>
  </div>


  <div class="my-5">
    <div class="d-inline-block" style="min-width: 200px;">
      <label class="form-label"><%= t('.is_public') %></label>
      <%= form.select :is_public, options_for_select([[t('.is_public_true'), 'true'], [t('.is_public_false'), 'false']], survey.is_public), {}, class: 'form-select' %>
    </div>
    <div class="form-text"><%= t('.is_public_note') %></div>
  </div>

  <div class="text-danger my-5">
    <%= t('.questions_fixed') %><br>
    <br>
    <%= t('.one_question_required') %>
  </div>

  <% survey.questions.each.with_index do |question, n| %>
    <div class="card card-body my-5">
      <div class="d-flex">
        <div class="text-nowrap me-3">
          <label class="col-form-label">
            <%= t('.question.title', count: n + 1) %>
            <% if question.is_required %>
              <span class="text-danger">*</span>
            <% end %>
          </label>
        </div>
        <div class="w-100">
          <%= text_field_tag 'questions[][title]', (n == 0 ? t('.question.whats_your_name') : ''), class: 'form-control', required: question.is_required, disabled: action_name == 'edit' %>
        </div>
      </div>

      <div class="form-check mt-3">
        <%= check_box_tag 'questions[][field_type]', 'multiple', question.field_type == 'multiple', {id: "question-#{n}_field_type", class: 'form-check-input', disabled: action_name == 'edit'} %>
        <label class="form-check-label" for="<%= "question-#{n}_field_type" %>">
          <%= t('.question.field_type_label') %>
        </label>
      </div>

      <div class="form-check mt-3">
        <%= check_box_tag 'questions[][is_required]', true, question.is_required, {id: "question-#{n}_is_required", class: 'form-check-input', disabled: action_name == 'edit'} %>
        <label class="form-check-label" for="<%= "question-#{n}_is_required" %>">
          <%= t('.question.is_required_label') %>
        </label>
      </div>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.submit t('.submit'), class: 'btn btn-primary' %>
  </div>
<% end %>
