<div class="container my-5">
  <% if notice %>
    <div class="alert alert-success my-5" role="alert">
      <%= notice %>
    </div>
  <% end %>

  <div class="my-3">
    <%= link_to t('.new'), new_survey_path, class: 'btn btn-primary' %>
  </div>

  <% @surveys.each do |survey| %>
    <div class="card my-5">
      <div class="card-body">

        <div class="form-check form-switch">
          <input id="<%= "survey_is_public-#{survey.id}" %>" class="survey_is_public form-check-input" type="checkbox" data-id="<%= survey.id %>" <%= 'checked' if survey.is_public %>>
          <label class="form-check-label" for="<%= "survey_is_public-#{survey.id}" %>">
            <%= survey.is_public ? t('.is_public') : t('.is_private') %>
          </label>
        </div>

        <hr>

        <h5 class="card-title"><%= survey.title %></h5>
        <p class="card-text"><%= auto_link_description(survey) %></p>

        <hr>

        <div class="row">
          <div class="col-6 col-md-3">
            <%= link_to edit_survey_path(id: survey.id) do %>
              <i class="fa-regular fa-pen-to-square"></i>
              <%= t('.edit') %>
            <% end %>
          </div>
          <div class="col-6 col-md-3">
            <%= link_to form_path(survey_token: survey.survey_token) do %>
              <i class="fa-regular fa-eye"></i>
              <%= t('.preview', value: survey.questions.size) %>
            <% end %>
          </div>
          <div class="col-6 col-md-3">
            <%= link_to survey_responses_path(id: survey.id) do %>
              <i class="fa-regular fa-envelope"></i>
              <%= t('.responses', value: survey.survey_responses.size) %>
            <% end %>
          </div>
          <div class="col-6 col-md-3">
            <%= link_to '#', class: 'btn-copy-url', data: {url: form_url(survey_token: survey.survey_token)} do %>
              <i class="fa-regular fa-copy"></i>
              <%= t('.copy') %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script>
  $(function () {
    $('.survey_is_public').on('click', function () {
      var url = '<%= api_survey_path(id: '__ID__') %>';
      var labels = {
        isPublic: '<%= t('.is_public') %>',
        isPrivate: '<%= t('.is_private') %>'
      };

      var id = $(this).data('id');
      var checked = $(this).prop('checked');
      url = url.replace('__ID__', id);
      console.log({id: id, checked: checked, url: url});

      $.post(url, {is_public: checked}).done(function (res) {
        console.log(res);
        var $label = $('label[for="survey_is_public-' + id + '"]')
        if (checked) {
          $label.text(labels['isPublic']);
        } else {
          $label.text(labels['isPrivate']);
        }
      }).fail(function (xhr) {
        console.error(xhr);
      });
    });

    $('.btn-copy-url').on('click', function () {
      var url = $(this).data('url');
      var messages = {
        succeeded: '<%= t('.copy_succeeded') %>',
        failed: '<%= t('.copy_failed') %>'
      }

      if (navigator.clipboard) {
        navigator.clipboard.writeText(url).then(function () {
          alert(messages['succeeded']);
        }).catch(function () {
          alert(messages['failed']);
        });
      } else {
        document.execCommand("Copy");
        alert(messages['succeeded']);
      }
    });
  });
</script>