<div class="container my-5">
  <h1 class="h3 my-5"><%= @survey.title %></h1>

  <div class="my-3">
    <%= t('.download_html', modal_id: 'download-responses-modal') %>
  </div>

  <%= render template: 'shared/download_responses_modal', locals: {modal_id: 'download-responses-modal', download_url: survey_download_path(id: @survey.id, duration: '30_days', limit: 100000)} %>

  <div class="my-3">
    <div class="input-group">
      <span class="input-group-text" id="basic-addon1"><%= t('.search.word') %></span>
      <input type="text" class="form-control" id="search-word">
    </div>
    <div class="form-text"><%= t('.search.word_note') %></div>
  </div>

  <div class="d-inline-block">
    <div class="input-group my-3">
      <label class="input-group-text" for="inputGroupSelect01"><%= t('.search.duration') %></label>
      <select class="form-select" id="select-duration">
        <option value="7_days" selected><%= t('.search.7_days') %></option>
        <option value="30_days"><%= t('.search.30_days') %></option>
      </select>
    </div>
  </div>

  <div>
    <div class="d-inline-block">
      <div class="input-group my-3">
        <label class="input-group-text" for="inputGroupSelect02"><%= t('.search.limit') %></label>
        <select class="form-select" id="select-limit">
          <option value="100" selected><%= t('.search.limit_n', value: 100) %></option>
          <option value="1000"><%= t('.search.limit_n', value: 1000.to_fs(:delimited)) %></option>
          <option value="10000"><%= t('.search.limit_n', value: 10000.to_fs(:delimited)) %></option>
        </select>
      </div>
    </div>
  </div>

  <div class="table-responses-wrapper my-5">
    <table class="table-responses bg-white">
      <thead>
      <tr>
        <td><%= t('.number') %></td>
        <td><%= t('.time') %></td>
        <td><%= t('.ip') %></td>
        <% @survey.questions.each do |question| %>
          <td class="fw-bold"><%= question.title %></td>
        <% end %>
      </tr>
      </thead>
    </table>
  </div>
</div>

<script>
  $(function () {
    var table;

    function fetchData(callback) {
      var url = '<%= api_survey_responses_path(id: @survey.id) %>';
      url += '&q=' + $('#search-word').val();
      url += '&duration=' + $('#select-duration').val();
      url += '&limit=' + $('#select-limit').val();
      console.log('url', url);

      $.get(url).done(function (res) {
        console.log('res', res);
        callback(res);
      });
    }

    function updateTable() {
      var questionIds = <%= @survey.questions.map(&:id).to_json %>;
      var columns = [
        {data: 'number'},
        {data: 'time'},
        {data: 'ip'}
      ];

      questionIds.forEach(function (id) {
        columns.push({data: 'question-' + id})
      });
      console.log('columns', columns);

      table = $('.table-responses').DataTable({
        ajax: function (data, callback, settings) {
          fetchData(callback);
        },
        columns: columns,
        columnDefs: [
          {targets: 0, className: 'number'},
          {targets: 1, className: 'time'},
          {targets: 2, className: 'ip'}
        ],
        scrollX: true,
        order: [[1, 'desc']],
        lengthChange: false,
        searching: false,
        info: false,
        paging: false
      });
    }

    $('#search-word, #select-duration, #select-limit').on('change', function () {
      table.ajax.reload();
    });

    updateTable();
  });
</script>