<div class="container my-5">
  <% if notice %>
    <div class="alert alert-success my-5" role="alert">
      <%= notice %>
    </div>
  <% end %>

  <% unless @survey.is_public %>
    <p class="text-danger my-5"><%= t('.expired_note') %></p>
  <% end %>

  <div class="my-3"><%= link_to t('.back'), forms_path %></div>

  <div class="card my-5">
    <div class="card-body">
      <h5 class="card-title"><%= @survey.title %></h5>
      <p class="card-text"><%= auto_link_description(@survey) %></p>
    </div>
  </div>

  <%= form_tag form_responses_path(survey_token: @survey.survey_token), method: :post do %>
    <% @survey.questions.each do |question| %>
      <div class="card card-body my-5">
        <label for="<%= "question-#{question.id}" %>" class="form-label">
          <%= question.title %>
          <% if question.is_required %>
            <span class="text-danger">*</span>
          <% end %>
        </label>
        <% if question.field_type == 'text' %>
          <%= text_field_tag 'answers[][message]', '', id: "question-#{question.id}", class: "form-control", required: question.is_required %>
        <% else %>
          <textarea id="<%= "question-#{question.id}" %>" name="answers[][message]" class="form-control" rows="10" <%= 'required' if question.is_required %>></textarea>
        <% end %>
        <% if question.note %>
          <div class="form-text"><%= question.note %></div>
        <% end %>

        <%= hidden_field_tag 'answers[][question_id]', question.id %>
      </div>
    <% end %>

    <%= submit_tag t('.submit'), class: 'btn btn-primary' %>
  <% end %>
</div>
