
<div class="container my-5">
  <h1 class="h3"><%= t('.page_title') %></h1>

  <% if @surveys.any? %>
    <% @surveys.each do |survey| %>
      <div class="card my-5">
        <div class="card-body">
          <h5 class="card-title"><%= survey.title %></h5>
          <p class="card-text"><%= auto_link_description(survey) %></p>
          <div class="text-center">
            <%= link_to t('.answer'), form_path(survey_token: survey.survey_token), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <%= t('.empty_surveys') %>
  <% end %>
</div>
