<div class="container my-5">
  <h1 class="my-5"><%= @survey.title %></h1>

  <div class="my-5">
    <%= t('.7days', days: @days, limit: @limit) %>
    <%= t('.download_html', url: form_download_path) %>
  </div>

  <table class="table table-bordered table-sm my-5">
    <tr>
      <td></td>
      <td><%= t('.time') %></td>
      <td><%= t('.ip') %></td>
      <% @survey.questions.each do |question| %>
        <td class="fw-bold"><%= question.title %></td>
      <% end %>
    </tr>

    <% @survey_responses.each.with_index do |survey_response, i| %>
      <tr>
        <td class="text-nowrap"><%= i + 1 %></td>
        <td class="text-nowrap"><%= survey_response.created_at.to_s(:db) %></td>
        <td class="text-nowrap"><%= survey_response.ip %></td>
        <% survey_response.answers.each do |answer| %>
          <td><%= answer.message %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
